# .NET Core / C#
[Bb]in/
[Oo]bj/
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
.vscode/

# Node / Vite
node_modules/
dist/
dist-ssr/
*.local
.env

# IDEs
.idea/
.agent/
.gitnexus
AGENTS.md
CLAUDE.md
.gitnexusrc
specs
.factory
.claude

# Logs
*.txt
*.log
log.txt
# Secrets
firebase-service-account.json

